# packaging

pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
tensorflow
numpy
scikit-learn
scikit-image
matplotlib
scipy
Pillow
opencv-python
streamlit
streamlit-drawable-canvas==0.9.1
svgpathtools
svgwrite
pyarrow
torch>=1.4.0
torchvision>=0.5.0
dominate>=2.4.0
visdom>=0.1.8.8
packaging
GPUtil>=1.4.0
wandb
